<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" 
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
       
<head>

<!-- 메인 페이지 레이아웃 -->
    <meta charset="UTF-8" />
  <!--   <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/> -->
    <link rel="stylesheet" th:href="@{/bootstrap/5.0.2/css/bootstrap.min.css}"/>
    <script th:src="@{/bootstrap/5.0.2/js/bootstrap.min.js}"></script>
	<script th:src="@{/jquery/3.6.0/jquery.min.js}"></script>
	<link th:href="@{/bootstrap_icons/1.10.5/font/bootstrap-icons.min.css}" rel="stylesheet">
</head>
<body>

    <!-- 상단바-->
    <div th:replace="fragments/header :: header"></div>
    	
    <!-- 본문-->
    <!-- one-type layout으로 통일 -->
    <div layout:fragment="content" style="width:100%; height:calc(100vh - 200px);"></div>
    	
    <!-- 공통 하단-->
   	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>